node-red_final
[{"id":"40e2b9ff.60f0d8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"ef61596d.79b858","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/esp/alive","qos":"2","datatype":"auto","broker":"71b1a5d3.cdfd8c","x":190,"y":60,"wires":[[]]},{"id":"f34fda06.0c612","type":"mqtt out","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/T_out","qos":"","retain":"","broker":"71b1a5d3.cdfd8c","x":520,"y":300,"wires":[]},{"id":"19da85e0.2b1d4a","type":"ui_button","z":"40e2b9ff.60f0d8","name":"","group":"efcd9baf.8aab98","order":3,"width":"0","height":"0","passthru":false,"label":"GO","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"GO","payloadType":"str","topic":"","x":210,"y":300,"wires":[["f34fda06.0c612"]]},{"id":"6140732e.3949dc","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/P_out","qos":"2","datatype":"auto","broker":"71b1a5d3.cdfd8c","x":240,"y":120,"wires":[["c2977131.7b902"]]},{"id":"c2977131.7b902","type":"function","z":"40e2b9ff.60f0d8","name":"","func":"var Header = msg.payload.split(\"#\");\nvar parts = Header[1].split(\">\");\nvar msg0 = {topic:\"/IFD2/lightseriesgame/P_out\", payload:parts[0]};\nvar scorebleu;\nvar scorerouge;\n//var j1, j2;\nvar bleu=context.get('bleu') || 0;\nvar rouge=context.get('rouge') || 0;\n\n\nif (msg0.payload ==\"bleu\"){\n    bleu +=1;\n    msg.payload=+bleu;\n    context.set('bleu',bleu);\n   \n    scorebleu = {payload:msg.payload};\n}\n\nif (msg0.payload ==\"rouge\"){\n    \n    rouge +=1;\n    msg.payload=+rouge;\n    context.set('rouge',rouge);\n   \n    scorerouge = {payload:msg.payload};\n \n}\nif (msg0.payload ==\"rejouer\"){\n    \n    rouge =0;\n    msg.payload=rouge;\n    context.set('rouge',rouge);\n    scorerouge = {payload:msg.payload};\n    \n    bleu =0;\n    msg.payload=bleu;\n    context.set('bleu',bleu);\n    scorebleu = {payload:msg.payload};\n \n}\n\nreturn [scorebleu, scorerouge, null];\n\n","outputs":3,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nscore2 = {payload:0}","x":480,"y":120,"wires":[["bc5c6a83.d35748"],["a1b36e3c.a1539"],["fdf6519a.f883d"]]},{"id":"76a288f0.6d64d8","type":"mqtt out","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/P_out","qos":"","retain":"","broker":"71b1a5d3.cdfd8c","x":520,"y":220,"wires":[]},{"id":"bc5c6a83.d35748","type":"ui_text","z":"40e2b9ff.60f0d8","group":"efcd9baf.8aab98","order":3,"width":0,"height":0,"name":"","label":"Bleu","format":"{{msg.payload}}","layout":"col-center","x":750,"y":40,"wires":[]},{"id":"fdf6519a.f883d","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"1c4d51b0.96687e","type":"ui_button","z":"40e2b9ff.60f0d8","name":"","group":"efcd9baf.8aab98","order":5,"width":0,"height":0,"passthru":false,"label":"Rejouer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"<button#rejouer>","payloadType":"str","topic":"","x":200,"y":220,"wires":[["76a288f0.6d64d8"]]},{"id":"a1b36e3c.a1539","type":"ui_text","z":"40e2b9ff.60f0d8","group":"efcd9baf.8aab98","order":3,"width":0,"height":0,"name":"","label":"Rouge","format":"{{msg.payload}}","layout":"col-center","x":790,"y":120,"wires":[]},{"id":"d997879f.dde7d8","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/T_in","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":270,"y":680,"wires":[["15c9bae5.872525","59088dff.a74404"]]},{"id":"15c9bae5.872525","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":720,"wires":[]},{"id":"856e3092.db695","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/S_in","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":270,"y":440,"wires":[["4b6c19b8.4c4b48","9ff0036c.f329c"]]},{"id":"4b6c19b8.4c4b48","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"b773f0f3.2c099","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/P_in","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":290,"y":900,"wires":[["176c55d7.d0190a"]]},{"id":"176c55d7.d0190a","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":900,"wires":[]},{"id":"947a4869.370038","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/S_out","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":260,"y":560,"wires":[["f5ad6eed.80b88"]]},{"id":"f5ad6eed.80b88","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":560,"wires":[]},{"id":"10c160e3.1c2bff","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/T_out","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":280,"y":800,"wires":[["3978fbb8.ef9504"]]},{"id":"3978fbb8.ef9504","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":800,"wires":[]},{"id":"9ff0036c.f329c","type":"mqtt out","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/S_out","qos":"","retain":"","broker":"de44ab13.b25498","x":660,"y":400,"wires":[]},{"id":"59088dff.a74404","type":"mqtt out","z":"40e2b9ff.60f0d8","name":"","topic":"/IFD2/lightseriesgame/T_out","qos":"","retain":"","broker":"de44ab13.b25498","x":660,"y":640,"wires":[]},{"id":"71b1a5d3.cdfd8c","type":"mqtt-broker","name":"localhost-lucie-machine","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"efcd9baf.8aab98","type":"ui_group","name":"LightSeriesGame","tab":"9ae1cab6.dd76a","order":1,"disp":true,"width":"6","collapse":false},{"id":"de44ab13.b25498","type":"mqtt-broker","name":"mqtt.ci-ciad.utbm.fr","broker":"mqtt.ci-ciad.utbm.fr","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9ae1cab6.dd76a","type":"ui_tab","name":"LightSeriesGame_Home","icon":"dashboard","disabled":false,"hidden":false}]
