node-red_test
[{"id":"40e2b9ff.60f0d8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"6688009a.d3eb4","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/Test/IN","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":160,"y":120,"wires":[[]]},{"id":"ef61596d.79b858","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/esp/alive","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":190,"y":60,"wires":[[]]},{"id":"818574f1.f35218","type":"ui_button","z":"40e2b9ff.60f0d8","name":"","group":"9c6bbec3.2e77f8","order":3,"width":0,"height":0,"passthru":false,"label":"essaie","tooltip":"","color":"","bgcolor":"","icon":"","payload":"clic","payloadType":"str","topic":"","x":440,"y":220,"wires":[[]]},{"id":"fcce69df.1c2738","type":"mqtt in","z":"40e2b9ff.60f0d8","name":"","topic":"/Test/OUT","qos":"2","datatype":"auto","broker":"de44ab13.b25498","x":210,"y":260,"wires":[["818574f1.f35218","aec9b2c0.5b7aa"]]},{"id":"aec9b2c0.5b7aa","type":"debug","z":"40e2b9ff.60f0d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":140,"wires":[]},{"id":"de44ab13.b25498","type":"mqtt-broker","name":"mqtt.ci-ciad.utbm.fr","broker":"mqtt.ci-ciad.utbm.fr","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c6bbec3.2e77f8","type":"ui_group","name":"Default","tab":"af5da386.b8905","order":1,"disp":true,"width":"9","collapse":false},{"id":"af5da386.b8905","type":"ui_tab","name":"Test","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
